<!-- templates/booking_confirmation_email.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Booking Confirmation</title>
  </head>
  <body>
    <h1>Booking Received</h1>

    <p>Dear {{ first_name }},</p>

    <p>You have a new booking for your property <strong>{{ name }}</strong>.</p>

    <p>Booking Details:</p>
    <ul>
      <li>
        <strong>User:</strong> {{ guest_first_name }} {{ guest_last_name }}
      </li>
      <li><strong>Start Date:</strong> {{ start_date }}</li>
      <li><strong>End Date:</strong> {{ end_date }}</li>
      <li><strong>Number of Guests:</strong>{{ number_of_guests }}</li>
    </ul>

    <p>Thank you for hosting with us!</p>
  </body>
</html>
