<!DOCTYPE html>
<html>

  <head>
    <title>Payment Failed</title>
    <style type="text/css">
      @media screen {
        .email-container {
          max-width: 600px;
          margin: 20px auto;
          border-radius: 15px;
          overflow: hidden;
        }
      }

      p,
      li,
      h1 {
        color: #000000 !important;
      }
    </style>
  </head>

  <body style="margin: 0; padding: 20px; background-color: #ffffff; font-family: Arial, sans-serif;">
    <div class="email-container"
         style="background: #ffffff; border-radius: 15px; padding: 30px; margin: 0 auto; box-shadow: 0 2px 10px rgba(0,0,0,0.1); border: 1px solid #02020296;">
      <!-- Responsive Logo -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/2560px-Airbnb_Logo_B%C3%A9lo.svg.png"
           alt="Airbnb Logo"
           style="display: block; max-width: 200px; width: 100%; height: auto; margin: 0 auto 25px auto;">
      <h1 style="text-align: center; color: #333333; margin-top: 0;">Payment Failed</h1>
      <p>Dear {{ full_name }},</p>
      <p>
        We regret to inform you that your payment of NGN {{ amount }} for your booking at <strong>{{ property_name
          }}</strong> has failed.
      </p>
      <p>Please try again or contact our support team if you need assistance.</p>
      <a href="#" class="button"
         style="display: block; width: fit-content; color: #ffffff; background-color: #FF5C61; padding: 10px; border-radius: 10px; margin: 20px auto; text-decoration: none; font-weight: bold;">Try
        Payment Again</a>
      <p style="text-align: center; color: #777; font-size: 12px; margin-top: 30px;">
        Airbnb &copy; 2025
      </p>
    </div>
  </body>

</html>
